


.worklabel {
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  color: #4c4c4c;
}

.btnadd {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: #eee;
  border-radius: 6px;
  float: right;
  margin: 10px;
}

.actionbuttons{
  display:flex;
  justify-content: flex-end;
}
.btnclass {
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: #eee;
  border-radius: 6px;
  margin: 10px;
}

h1 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}





.experienceform {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 75px;
  margin-top:100px;
  max-width:850px;
  width:100%;
  display: inline-block;
}


.parent h1 a:hover{
  text-decoration: none;
}


.parent {
  width: 100%;
}

